<footer id="mobile-footer">
    <table>
        <tr>
            <td>
                <img src='./assets/default.jpg' class="mobile-footer-icon">
            </td>

            <td>
                <img src='./assets/default.jpg' class="mobile-footer-icon">
            </td>

            <td>
                <img src='./assets/default.jpg' class="mobile-footer-icon">
            </td>

            <td>
                <img src='./assets/default.jpg' class="mobile-footer-icon">
            </td>
        </tr>
    </table>
</footer>