<footer id="mobile-footer">
    <table>
        <tr>
            <td>
                <img src="../../assets/default.jpg" class="footer-icon"></img>
            </td>

            <td>
                <img src="../../assets/default.jpg" class="footer-icon"></img>
            </td>

            <td>
                <img src="../../assets/default.jpg" class="footer-icon"></img>
            </td>

            <td>
                <img src="../../assets/default.jpg" class="footer-icon"></img>
            </td>
        </tr>
    </table>
</footer>