@import url(../../style.css);

#mobile-footer {
    background-color: var(--destaque-1);
    width: 100%;
    height: calc(10vh + 8vw);
    position: sticky;
    z-index: 100;
    bottom: 0;
    box-sizing: border-box;
    display: none;
}

#mobile-footer td {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.mobile-footer-icon {
    margin: auto;
    height: 8vw;
    width: 8vw;
    cursor: pointer;
}