#mobile-footer {
    background-color: #34502b;
    width: 100%;
    padding: 4ch 2ch;
    position: sticky;
    z-index: 100;
    bottom: 0;
    box-sizing: border-box;
    display: none;
}

#mobile-footer span {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-icon {
    margin: auto;
    height: 50px;
    width: 50px;
    cursor: pointer;
}