.mapa {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 110px;
  justify-content: center;
}

.item {
  width: 160px;
  height: 100px;
  background: #4a6cf7;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, background 0.2s;
  /* margin-right: 80px; */
}

.item:hover {
  background: #3b5bdb;
  transform: scale(1.08);
}
