* {
    margin: 0;
}

:root {
    /*modo claro*/
    --fundo: #e2e9e3;
    --fonte-fundo: #;

    --main: white;
    --fonte-main: black;

    --destaque-1: #34502b;
    --fonte-destaque-1: white;

    --destaque-2: # ;
    --fonte-destaque-2: #;

    --destaque-sec-1: #941f1f;
    --fonte-destaque-sec-1: #;

    --destaque-sec-2: #;
    --fonte-destaque-sec-2: #;



    /*@media (prefers-color-scheme: dark) {

    --fundo: #303451;

    --main: #53527e;

    }

    @media (prefers-contrast: more) {

    --: ;
    }*/
}

/**********************/

body {
  background-color: var(--fundo);
}

main {
  margin: 0 15vw;
  background-color: var(--main);
  border-width: 10px;
  border-color: black;
  height: 2000px;
}

#hero-test {
    width: 100%;
    box-sizing: border-box;
    height: 300px;
    background-color: #34502b;
}

#conteudo {
    margin-bottom: 1000px;
}

/**********************/

#padding {
    padding: 30px;
}

.mapa {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 110px;
  justify-content: center;
}

.item {
  width: 160px;
  height: 100px;
  background: #4a6cf7;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, background 0.2s;
  /* margin-right: 80px; */
}

.item:hover {
  background: #3b5bdb;
  transform: scale(1.08);
}
